<ion-header>
    <ion-navbar>
        <ion-title>
            <span><h1>{{resultant.result}}</h1></span> <span (click)="saveCalculations()">save me</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>

        <ion-item>
            <ion-label stacked>Number</ion-label>
            <ion-input type="number" placeholder="Number" ngControl="numberValue" [(ngModel)]="numberValue" (focus)="inputFocus()"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Description</ion-label>
            <ion-input type="text" placeholder="Description" ngControl="numberDescription" [(ngModel)]="numberDescription"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Times</ion-label>
            <ion-toggle checked="false" [(ngModel)]="timesEnabled"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="timesEnabled">
            <ion-label stacked>Times</ion-label>
            <ion-input type="number" placeholder="Times" ngControl="timesValue" [(ngModel)]="timesValue" (focus)="timesFocus()"></ion-input>
        </ion-item>
    </ion-list>


    <ion-list>
        <ion-item *ngFor="let num of resultant.items">
            <ion-card>

                <ion-card-content>
                    <span>{{num.operation}}</span>
                    <span>{{num.calculatedValue}}</span>
                    <span>{{num.description}}</span>
                </ion-card-content>

            </ion-card>
        </ion-item>
    </ion-list>

</ion-content>
<ion-footer>
    <div class="row">
        <button class="button button-stable button-large footer-btn" (click)="calculateResult('+')">+</button>
        <button class="button button-stable button-large footer-btn" (click)="calculateResult('-')">-</button>
    </div>
</ion-footer>