<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <button class="button button-positive button-block" (click)="goToCounter()">
          New count
        </button>
        <button class="button button-stable button-block">
          Archive
        </button>
    </div>
    
    The world is your oyster.
    <p>
        If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
    </p>
</ion-content>